*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

ul{
    width: 300px;
    overflow: hidden;
    overflow-y: scroll;
    height: 700px;
    padding: 1px;
    margin: 50px;
}

li > img{
    width: 1100px;
}

.home{
    display: flex;
    justify-content: space-between;
}

h1{
    color: var(--color-title);
    font-family: var(--font-display);
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 50px;
    
}

.js-conteudo section{
    display: none;
}

.js-conteudo section.active{
    display: block;
    
}


.natureza_icone{
    color: var(--color-brown);
    font-family: var(--font-display);
    font-style: normal;
    font-weight: 700;
    margin-left:20px;
    gap: 15px;
    margin-bottom: 20px;
    align-items: center;
    font-size: 26px; 
    vertical-align: middle; 
    margin-right: 10px;
    margin-top: 43px;
}


.ti {
    display: inline-block;  
    vertical-align: middle; 
    font-size: 33px;
    margin-bottom: 20px;
}

.par치grafo_natureza > p{
    margin-bottom: 20px;
    color: var( --color-title);
    font-family: var(--font-primary);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin-left: 50px;
}

.praia_icone{
    color: var(--color-brown);
    font-family: var(--font-display);
    font-style: normal;
    font-weight: 700;
    margin-left:50px;
    gap: 15px;
    margin-bottom: 20px;
    align-items: center;
    font-size: 26px; 
    margin-right: 10px;
    margin-top: 43px;
}

.tip {
    display: inline-block;  
    vertical-align: middle; 
    font-size: 33px;
    margin-bottom: 20px;
}

.par치grafo_praia > p{
    margin-bottom: 20px;
    color: var( --color-title);
    font-family: var(--font-primary);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin-left: 50px;
}

.montanha_icone{
    color: var(--color-brown);
    font-family: var(--font-display);
    font-style: normal;
    font-weight: 700;
    margin-left:50px;
    gap: 15px;
    margin-bottom: 20px;
    align-items: center;
    font-size: 26px; 
    margin-right: 10px;
    margin-top: 43px;
}

.tim {
    display: inline-block;  
    vertical-align: middle; 
    font-size: 33px;
    margin-bottom: 20px;
}

.par치grafo_montanhas > p{
    margin-bottom: 20px;
    color: var( --color-title);
    font-family: var(--font-primary);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin-left: 50px;
}

.floresta_icone{
    color: var(--color-brown);
    font-family: var(--font-display);
    font-style: normal;
    font-weight: 700;
    margin-left: 50px;
    gap: 15px;
    margin-bottom: 20px;
    align-items: center;
    font-size: 26px; 
    margin-right: 10px;
    margin-top: 43px;
}

.tif {
    display: inline-block;  
    vertical-align: middle; 
    font-size: 33px;
    margin-bottom: 20px;
}

.par치grafo_floresta > p{
    margin-bottom: 20px;
    color: var( --color-title);
    font-family: var(--font-primary);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin-left: 50px;
}

