*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.menu ul{
    background-color: var(--background-green);
    display: flex;
    gap: 10px;
    font-family: 'poppins';
    font-size: 12px;
    height: 50px;
    align-items: center;
    width: var(--width);
    margin: 20px 0px 10px 130px;
    padding: 20px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1.6px;
    color: var(--color-white);

}

.toggle {
    align-items: center;
    gap: 0.5rem;
    background-color: #494949;
    padding: 0.625rem;
    border-radius: 5px;
    letter-spacing: 0.1rem;
    font-weight: bold;
    display: none;
}


.Login{
    background-color: var(--background);
    padding: 6px;
    border-radius: 5px;
    color: #814813; 

}

@media screen and (max-width: 768px) {
    .toggle {
        display: flex;
    }

		.js-list{
        display: none;
    }
}



